 .error {
	color : #B94A48;
}

#fb_signin button,#go_signin button{
	width:42px;
	height:40px;
	background: transparent url("../social/social_sprite.png") no-repeat 0 0;	
	border:0;
	padding:0;
}

#fb_signin, #go_signin{
	margin-right:15px;
}

#fb_signin button{
	background-position: 0 0;
}

#go_signin button{
	background-position: 0 -90px;
}

#account_register button.btn-success{
	width: 120px;
}

.social{
	display: inline-block;
}
#socialSignInMessage{
	padding-bottom:10px;
}