 .error {
	color : #B94A48;
}

.container{
	padding-top : 60px;
}

#fb_signin button,#go_signin button{
	width:42px;
	height:40px;
	background: transparent url("/resources/img/social_sprite.png") no-repeat 0 0;	
	border:0;
	padding:0;
}

#fb_signin, #go_signin{
	margin-right:15px;
}

#fb_signin button{
	background-position: 0 0;
}

#go_signin button{
	background-position: 0 -90px;
}

#account_register button.btn-success{
	width: 120px;
}

.social{
	display: inline-block;
}
#socialSignInMessage{
	padding-bottom:10px;
}

#pageFooter{
 	height:20px;
 	position: fixed;
 	bottom: 0;
}
#pageFooter .navbar-inner{
	font-size:14px;
	padding-top:1px;
	padding-left:0px;
}

#languageChanger{
	float:right;
}
#languageChanger .dropdown-menu{
	min-width: 100px;
}  

@media (max-width: 980px) {
  .container {
	padding-top: 0 !important;
  }
}