div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
	padding-right: 20px;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../../img/sort/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../../img/sort/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../../img/sort/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../../img/sort/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../../img/sort/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

.row_selected{
	background: #ddddde;
}
.row_highlighted{
	background: #E3E3E5;
}
.toolbar {
	float: right;
}
.dataTables_wrapper {
	padding-top: 20px;
}
.dataTable {
	margin-top: 25px;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #888888;
    cursor: pointer;
} 